@inherits LayoutComponentBase

<div class="page">
    <main>
        <HeadContent>
            <NavLink href="/">
                <div class="header">
            <NavLink href="/">
                    <h1>Reservierungssoftware</h1>
                </div>
            </NavLink>
        </HeadContent>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>
