<h3>AddOrder</h3>
@rendermode InteractiveServer
@page "/add-order"
@inject Reservierungssoftware.Data.ReservierungDbContext DbContext
@inject NavigationManager NavigationManager
<PageTitle>Add Order</PageTitle>

<EditForm Model="@newOrder" OnSubmit="HandleSubmit">
	<div class="content-center">
		<div class="form-group">
			<label>Anreise</label>
			<InputDate class="form-control" @bind-Value="newOrder.Anreise" />
		</div>

		<div class="form-group">
			<label>Abreise</label>
			<InputDate class="form-control" @bind-Value="newOrder.Abreise" />
		</div>

		<div class="form-group">
			<label>Zimmerart</label>
			<InputSelect class="form-control" @bind-Value="newOrder.ZTyp">
				<option value="Pöbel">Pöbel</option>
				<option value="Prinz">Prinz</option>
				<option value="Queen">Queen</option>
				<option value="Präsident">Präsident</option>
			</InputSelect>
		</div>

		<div class="form-group">
			<label>Customer</label>
			<InputSelect class="form-control" @bind-Value="newOrder.CustomerId">
				@foreach(var customer in customers)
				{
					<option value="@customer.Id">@customer.Name</option>
				}
			</InputSelect>
		</div>

		<div class="mt-4">
			<button type="submit" class="btn btn-primary">Erstellen</button>
			<button type="button" @onclick="Cancel" class="btn btn-secondary">Abbrechen</button>
		</div>
		</div>
</EditForm>

@code {
	private Order newOrder = new Order();
	private List<Customer> customers;

	protected override void OnInitialized()
	{
		base.OnInitialized();

		customers = DbContext.Customers.ToList();
	}

	private void HandleSubmit()
	{
		DbContext.Orders.Add(newOrder);
		DbContext.SaveChanges();
		NavigationManager.NavigateTo("/orders");
	}

	private void Cancel()
	{
		NavigationManager.NavigateTo("/orders");
	}

	private bool CheckCorrectNameInput()
	{
		return true;
	}
}
